<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c35ad9c3-6549-4662-970a-8dec1c9d562c/resourcegroups/BugTrackerApplicationRG/providers/Microsoft.Web/sites/venellbugtracker</ResourceId>
    <ResourceGroup>BugTrackerApplicationRG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://venellbugtracker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>venellbugtracker.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>venellbugtracker</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$venellbugtracker</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ApplicationContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:bugtrackerapplicationdbserver.database.windows.net,1433;Initial Catalog=BugTrackerApplication_db;User ID=edvenell@bugtrackerapplicationdbserver;Password=Ven314Alpha" Name="Data Source=tcp:bugtrackerapplicationdbserver.database.windows.net,1433;Initial Catalog=BugTrackerApplication_db;User Id=edvenell@bugtrackerapplicationdbserver;Password=Ven314Alpha" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BugTrackerApplication.DAL.ApplicationContext, BugTrackerApplication" MigrationConfiguration="BugTrackerApplication.Migrations.Configuration, BugTrackerApplication" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ApplicationContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bugtrackerapplicationdbserver.database.windows.net,1433;Initial Catalog=BugTrackerApplication_db;User Id=edvenell@bugtrackerapplicationdbserver;Password=Ven314Alpha</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>